<div class="dashboard-container">
  <div class="col-4">

      <!-- USER INFO -->
    <div class="user-info">
      <%= cl_image_tag current_user.photo, alt: "user avatar", class: "avatar-large" %>
      <p><%= current_user.username %></p>
      <p><%= current_user.email %></p>
      <p>
        <%= current_user.first_name %>
        <%= current_user.last_name %>
      </p>
    </div>

      <!----------------------------------------- ACHIEVEMENTS -------------------------------------------------------->
    <div class="achievements">
      <h4>Achievements</h4>
    </div>

      <!------------------------------------------ NOTIFICATIONS ------------------------------------------------------>
    <div class="notifications">
      <h4 class="border-bottom pb-1">Notifications</h4>
      <div class="border-bottom">
        <h5><strong>Finished Challenges:</strong></h5>
        <% current_user.users_challenges.each do |users_challenge| %>
          <% if users_challenge.unread %>
            <div class="d-flex mb-2" style="height: 30px; font-size: 16px">
              <p>Challenge has ended</p>
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                Check Challenge
              </button>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Challenge Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= render 'pages/finished', users_challenge: users_challenge, challenge: users_challenge.challenge %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <h6>Friend Requests:</h6>
      <% current_user.requested_friends.each do |friend| %>
        <%= "#{friend.first_name.capitalize} #{friend.last_name.capitalize}"  %> <%= link_to "Accept", accept_friend_account_path(friend), method: :post, class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  </div>

    <!-- CHALLENGES -->
  <% unless current_user.challenges.empty? %>

    <div class="col-8 challenges-index pl-0">
      <% @users_challenges.each do |user_challenge| %>
      <!-- CHALLENGE CARD -->
        <div class="challenge-card">
          <% challenge = user_challenge.challenge %>
          <% if user_challenge.accepted %>
            <p><%= link_to challenge.skill.title.capitalize, challenge_path(challenge) %></p>
          <% else %>
            <p><%= challenge.skill.title.capitalize %></p>
          <% end %>
          <% unless user_challenge.accepted %>
            <%= link_to "Accept", challenge_accept_path(challenge), method: :patch, class: 'btn btn-primary' %>
            <%= link_to "Decline", challenge_decline_path(challenge), method: :delete, class: 'btn btn-primary' %>
          <% end %>
          <p>Milestone: <%= challenge.milestone %></p>
          <p>Start Date: <%= challenge.starting_date.strftime('%B %e at %l:%M %p') %></p>
          <p><%= challenge.description %></p>
          <% if user_challenge.accepted %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Check in
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Check In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= render 'challenges/check_in', challenge: user_challenge.challenge, check_in: CheckIn.new %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      <% end %>
    </div>

  <% else %>
    <div class="col-8 challenges-index pl-0">
      <div class="challenge-card">
        <h2 class="text-center">You have no challenges</h2>
        <div class="d-flex justify-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
            <defs>
              <mask id="MASK" maskunits="userSpaceOnUse"
              maskcontentunits="userSpaceOnUse">
              <image xlink:href="https://media.giphy.com/media/3o85xyj0M45c9MkXhS/giphy.gif"
              height="100%"
              width="100%"/>
            </mask>
          </defs>

          <image mask="url(#MASK)" x="0" y="-20%" class="space" xlink:href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/space.jpg"
          height="198%" width="200%"/>
        </svg>
      </div>
      <div class="d-flex justify-content-around">
        <%= link_to "Make a new Challenge!", new_challenge_path, class: 'btn btn-primary'  %>
      </div>
    </div>
  </div>
  <% end %>
</div>


