<% link_to 'New challenge', new_challenge_path, class: 'btn btn-primary' %>
<div style="width: 200px">
<%= form_tag account_path(current_user), method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Enter Username"
      %>
      <% end %>
</div>
<div class="dashboard-container">

    <div class="col-4">

      <!-- USER INFO -->
      <div class="user-info">
        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/dfwheeler394" alt="avatar">
        <p><%= current_user.username %></p>
        <p><%= current_user.email %></p>
        <p>
          <%= current_user.first_name %>
          <%= current_user.last_name %>
        </p>
      </div>

      <!-- ACHIEVEMENTS -->
      <div class="achievements">
        <h4>Achievements</h4>
      </div>

      <!-- NOTIFICATIONS -->
      <div class="notifications">
        <h4>Notifications</h4>
        <h6>Friend Requests:</h6>
        <% current_user.requested_friends.each do |friend| %>
          <%= "#{friend.first_name.capitalize} #{friend.last_name.capitalize}"  %> <%= link_to "Accept", accept_friend_account_path(friend), method: :post, class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>

    </div>

    <!-- CHALLENGES -->
    <div class="col-8 challenges-index pl-0">
      <% @users_challenges.each do |user_challenge| %>

        <!-- CHALLENGE CARD -->
        <div class="challenge-card">
          <% challenge = user_challenge.challenge %>
          <p><%= link_to challenge.skill.title.capitalize, challenge_path(challenge) %></p>
            <% unless user_challenge.accepted %>
              <%= link_to "Accept", challenge_accept_path(challenge), method: :patch, class: 'btn btn-primary' %>
              <%= link_to "Decline", challenge_decline_path(challenge), method: :delete, class: 'btn btn-primary' %>
            <% end %>
          <p>Milestone: <%= challenge.milestone %></p>
          <p>Start Date: <%= challenge.starting_date.strftime('%B %e at %l:%M %p') %></p>
          <p><%= challenge.description %></p>
          <%= link_to "Check in", '#', class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>


</div>
