<div class="dashboard-container">

  <div class="col-4">

      <!-- USER INFO -->
    <div class="user-info">
      <h4 class='marker' data-content='Average Progress'>Average Progress</h4>
      <!-- User Progress Average -->
      <% unless current_user.users_challenges.size == 0 %>
        <% sum = 0 %>
        <% current_user.users_challenges.each do |user| %>
          <% sum += user.user_progress %>
          <% sum %>
        <% end %>
        <% average_progress = sum / current_user.users_challenges.size %>
      <% else %>
        <% average_progress = 0 %>
      <% end %>
      <div class="single-chart">
          <svg viewBox="0 0 36 36" class="circular-chart green">
            <path class="circle-bg"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
            <path class="circle"
              stroke-dasharray="<%= average_progress %>, 100"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
            <text x="18" y="20.35" class="percentage"><%= average_progress.to_i %>%</text>
          </svg>
        </div>
      <p class='m-0'><i class="far fa-user-circle"></i> <%= current_user.username %></p>
    </div>

      <!----------------------------------------- ACHIEVEMENTS -------------------------------------------------------->
    <div class="achievements">
      <h4 class='marker' data-content="Achievements">Achievements</h4>
      <% unless current_user.wins.count.zero? %>
      <% current_user.wins.each do |win|%>
        <i class="fas fa-trophy mouse-hover" style="font-size: 32px; color: #F3B61F" data-toggle="modal" data-target="#exampleModal<%=win.id%>"></i>
        <div class="modal fade" id="exampleModal<%= win.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel"><%= win.challenge.skill.title %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <% unless win.date.nil? %>
                <h4>Date Won: </h4><p><%= win.date.strftime('%e %B %Y') %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>

      <!------------------------------------------ NOTIFICATIONS ------------------------------------------------------>
    <div class="notifications">
      <h4 class="marker border-bottom pb-1" data-content="Notifications">Notifications</h4>
      <div class="border-bottom">
        <p class="mb-2"><strong>Finished Challenges:</strong></p>
        <% current_user.users_challenges.each do |users_challenge| %>
          <% if users_challenge.unread %>
          <div class="notification-card">
              <h6 class="mb-0"><strong><%= users_challenge.challenge.skill.title.capitalize %></strong>  has ended</h6>
              <h6 data-toggle="modal" data-target="#exampleModal" class="mt-0 mb-0 mouse-hover" style="color: #ED462D;">Check Challenge</h6>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Challenge Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= render 'pages/finished', users_challenge: users_challenge, challenge: users_challenge.challenge %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <p><strong>Friend Requests:</strong></p>
      <% current_user.requested_friends.each do |friend| %>
      <div class="notification-card">
        <div class="d-flex align-items-center">
          <%= cl_image_tag friend.photo, alt: "user avatar", class: 'avatar-small mr-2' %>
          <%= "#{friend.first_name.capitalize} #{friend.last_name.capitalize}"  %>
        </div>
        <%= link_to "Accept", accept_friend_account_path(friend), method: :post, class: "friend-request-button" %>
      </div>
      <% end %>
    </div>
  </div>

    <!-- CHALLENGES -->

  <div class="col-8 challenges-index pl-0">
    <% unless current_user.challenges.empty? %>
      <% @users_challenges.each do |user_challenge| %>
      <!-- CHALLENGE CARD -->
        <div class="challenge-card">
          <% challenge = user_challenge.challenge %>
          <% if user_challenge.accepted %>
            <p><%= link_to challenge.skill.title.capitalize, challenge_path(challenge) %></p>
          <% else %>
            <p><%= challenge.skill.title.capitalize %></p>
          <% end %>
          <% unless user_challenge.accepted %>
            <%= link_to "Accept", challenge_accept_path(challenge), method: :patch, class: 'btn btn-primary' %>
            <%= link_to "Decline", challenge_decline_path(challenge), method: :delete, class: 'btn btn-primary' %>
          <% end %>
          <p>Goal: <%= challenge.milestone %> <%= challenge.time_type %> <%= challenge.count_type %></p>
          <p>Start Date: <%= challenge.starting_date.strftime('%e %B %Y') %></p>
          <% if user_challenge.accepted %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%= user_challenge.challenge.id%>">
              Check in
            </button>
            <div class="dashboard-avatars">
              <% challenge.users.each do |user| %>
              <%= cl_image_tag user.photo, alt: "user avatar", class: 'avatar-small' %>
              <% end %>
            </div>

            <div class="modal fade" id="exampleModal<%= user_challenge.challenge.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">  <h5>Check in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                    <%= render 'challenges/check_in', challenge: user_challenge.challenge, check_in: CheckIn.new %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    <% else %>
      <div class="challenge-card">
        <h2 class="text-center">You have no challenges</h2>
        <div class="d-flex justify-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300" class="home-animation">
            <defs>
              <mask id="MASK" maskunits="userSpaceOnUse"
              maskcontentunits="userSpaceOnUse">
              <image xlink:href="https://media.giphy.com/media/3o85xyj0M45c9MkXhS/giphy.gif"
              height="100%"
              width="100%"/>
              </mask>
            </defs>

            <image mask="url(#MASK)" x="0" y="-20%" class="space" xlink:href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/space.jpg"
            height="198%" width="200%"/>
          </svg>
        </div>
        <div class="d-flex justify-content-around">
          <%= link_to "Make a new Challenge!", new_challenge_path, class: 'btn btn-primary'  %>
        </div>
      </div>
    <% end %>
  </div>
</div>

