
<div class="grid">
  <div class="login-card">
    <div class='login-img'>
    </div>
    <div class='login-card-details'>
    <h2 class="text-center pb-2">Sign Up</h2>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-10">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                required: true,
                label: false,
                autofocus: true,
                placeholder: 'Email',
                input_html: { autocomplete: "email" }%>

        <div class="d-flex">
        <%= f.input :first_name,
                label: false,
                required: true,
                autofocus: true,
                placeholder: 'First Name',
                input_html: { autocomplete: "email" }%>

        <%= f.input :last_name,
                label: false,
                required: true,
                autofocus: true,
                placeholder: 'Last Name',
                input_html: { autocomplete: "email" }%>
        </div>
        <%= f.input :username,
                label: false,
                required: true,
                placeholder: 'Username',
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password,
                label: false,
                required: true,
                placeholder: 'Password',
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                label: false,
                required: true,
                placeholder: 'Confirm Password',
                input_html: { autocomplete: "new-password" } %>

      </div>
      <div class="form-actions d-flex justify-content-between" style='margin: 0;'>
      <div class='d-inline mr-5'><%= render "devise/shared/links" %></div>
        <div><%= f.button :submit, "Sign Up", class: 'btn btn-primary' %></div>
      </div>
      <% end %>

      </div>
    </div>
    </div>
  </div>
</div>
