<h2>Great Work!</h2>
<%= simple_form_for [challenge, check_in] do |f| %>

  <% if challenge.validation_type == 'checkbox' %>
    <%= f.input :completed, as: :radio_buttons, label: "I worked toward this goal today!" %>
  <% else %>
    <%= f.input :duration, label: "How many hours did you work today?".html_safe, class: "duration", input_html: { min: '0.5', step: '0.5' }, placeholder: "1.0" %>
  <% end %>

  <% if challenge.photo_proof %>
    <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
    <%= f.input :photo, input_html: { class: 'hidden d-none', id: 'photo-input'}, label_html: { class: 'upload-photo btn btn-primary btn-custom'}, label: '📷 Upload a photo' %>
    <%= f.input :photo_cache, as: :hidden %>
  <% end %>

  <%= f.submit "Check In", class: "btn btn-primary" %>
<% end %>
