<%= simple_form_for [challenge, check_in] do |f| %>

  <% if challenge.validation_type == 'checkbox' %>
    <%= f.input :completed, as: :radio_buttons, label: "I worked toward this goal today!" %>
  <div id= "submit" class="d-flex justify-content-center mb-3">
    <%= f.submit "Check In", class: "btn btn-primary", id: "submit"  %>
  </div>

  <% else %>

  <!-- COUNTDOWN TIMER -->
  <div id="timer-container">
    <div class="setters">
      <div class="minutes-set">
        <button data-setter="minutes-plus">+</button>
        <button data-setter="minutes-minus">-</button>
      </div>
      <div class="seconds-set">
        <button data-setter="seconds-plus">+</button>
        <button data-setter="seconds-minus">-</button>
      </div>
    </div>

    <div class="circle">
      <svg width="300" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
         <g transform="translate(110,110)">
            <circle r="100" class="e-c-base"/>
            <g transform="rotate(-90)">
               <circle r="100" class="e-c-progress"/>
               <g id="e-pointer">
                  <circle cx="100" cy="0" r="8" class="e-c-pointer"/>
               </g>
            </g>
         </g>
      </svg>
    </div>

    <div class="controlls">
      <div class="display-remain-time">00:30</div>
      <button class="play" id="pause"></button>
    </div>
  </div>

  <% end %>


  <div class="d-none">
    <%= f.input :duration %>
  </div>

  <div id="photo-and-submit" class="d-none">
    <div class="d-flex justify-content-center">
      <div id="photo-uploader">
        <% if challenge.photo_proof %>
          <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
          <%= f.input :photo, input_html: { class: 'hidden d-none', id: 'photo-input'}, label_html: { class: 'upload-photo btn btn-primary btn-custom'}, label: '📷 Upload a photo' %>
          <%= f.input :photo_cache, as: :hidden %>
        <% end %>
      </div>

      <div id= "submit" class="d-flex justify-content-center mb-3">
        <%= f.submit "Check In", class: "btn btn-primary", id: "submit"  %>
      </div>
    </div>
  </div>

<% end %>

<%= javascript_pack_tag 'countdown' %>

