<h2>Check off today!</h2>
<%= simple_form_for [challenge, check_in] do |f| %>

  <% if challenge.validation_type == 'checkbox' %>
    <%= f.input :completed, as: :radio_buttons %>
  <% else %>
    <%= f.input :duration %>
  <% end %>

  <% if challenge.photo_proof %>
    <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
    <%= f.input :photo, input_html: { class: 'hidden d-none', id: 'photo-input'}, label_html: { class: 'upload-photo btn btn-primary btn-custom'}, label: '📷 Upload a photo' %>
    <%= f.input :photo_cache, as: :hidden %>
  <% end %>

  <%= f.submit "Check In", class: "btn btn-primary" %>
<% end %>

