<% unless @users_challenge.unread %>
<div class="finished-container">
  <div class="finished-card-top">
    <div>
      <h1 class='mt-5'>Congrats <%= current_user.first_name %>!</h1>
      <h4>You have won the '<strong><%= @challenge.skill.title %></strong>' challenge!</h4>
      <h6><%= current_user.first_name %> <%= @challenge.first_place.downcase %>!</h6>
      <%= image_tag('winning.gif', width: 300) %>
    </div>
  </div>
  <div class="finished-card-bottom">
    <h5 class="mb-3">Would you like to renew the challenge?</h5>
    <div class="d-flex justify-content-center">
      <%= link_to root_path, class:"btn btn-turq mr-2" do %>
        <i class="fas fa-undo-alt"></i> Go Back
      <% end %>
      <%= link_to "Start Over!" , challenge_renew_path(@challenge), class:"btn btn-primary ml-2" %>
      <% link_to "Renew and edit Challenge!", edit_challenge_path(@challenge), class:"btn btn-primary" %>
    </div>
  </div>
</div>

<% else %>
  <div class="finished-container">
    <div class="row">
      <div class="col-8 text-center">
        <% UsersChallenge.find_by(challenge_id: @challenge.id, user_id: current_user.id).update(unread: false) %>

        <h1>Sorry, <%= current_user.first_name %>.</h1>
        <h4>You have lost <strong><%= @challenge.skill.title %></strong></h4>
        <h2>Better luck next time!</h2>
        <h6>Your penalty: <%= @challenge.last_place %></h6>
        <div class="d-flex justify-content-around">
          <%= link_to "Home" , root_path, class:"btn btn-primary" %>
          <%= link_to "Challenge Page", challenge_read(@challenge), class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
