<% unless _users_challenge.unread %>
  <div class="container">
    <div class="row">
      <div class="col-8 text-center">
        <h1>Congrats <%= current_user.first_name %>!</h1>
        <h4>You have won <strong><%= @challenge.skill.title %></strong></h4>
        <h6>Your reward: <%= @challenge.first_place %></h6>
        <h2>Would you like to renew challenge?</h2>
        <div class="d-flex justify-content-around">
          <%= link_to "Renew Challenge!🤪" , challenge_renew_path(@challenge), class:"btn btn-primary" %>
          <%= link_to "Renew and edit Challenge! 😎", edit_challenge_path(@challenge), class:"btn btn-primary" %>
          <%= link_to "Don't renew 😞", root_path, class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-8 text-center">
        <h1>Sorry, <%= current_user.first_name %>.</h1>
        <h4>You have lost <strong><%= @challenge.skill.title %></strong></h4>
        <h2>Better luck next time!</h2>
        <h6>Your penalty: <%= @challenge.last_place %></h6>
        <div class="d-flex justify-content-around">
          <%= link_to "Home" , root_path, class:"btn btn-primary" %>
          <%= link_to "Challenge Page", challenge_path(@challenge), class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
