<div class="container text-center p-0">
  <h1 style="color: white;">New Challenge</h1>

  <%= simple_form_for [@challenge], html: { autocomplete: 'off' } do |f| %>
  <div class='new-challenge-card'>

      <!-- SET SKILL -->
      <div class='skill-input'>
        <%= f.input :skill, label: 'What do you want to work on?', placeholder: 'quit smoking' %>
        <div class='underline'></div>
      </div>
        <p>Need some ideas? <a href="">Browse Challenges</a></p>

       <!-- Data Picker -->
       <div class="wrapper typo">I want to work on this for<br>

          <div class='milestone-input'>
            <input type="number" id="milestone" placeholder="30" size="3" class="milestone_input", min='0'>
            <div class="underline" style="bottom: 1px;"></div>
          </div>


          <div class="list"><span class="time_type_placeholder">days</span>
            <ul class="time_type_list">
              <li><a href="">hours</a></li>
              <li><a href="">days</a></li>
              <li><a href="">weeks</a></li>
            </ul>
          </div>
          <div class="list"><span class="count_type_placeholder">in a row</span>.
            <ul class="count_type_list">
              <li><a href="">in a row</a></li>
              <li><a href="">total</a></li>
            </ul>
          </div>
        </div>

         <!-- SET GOAL - hidden -->
        <%= f.input :milestone, label: false, input_html: {value: '30'} %>
        <%= f.input :time_type, label: false, collection: Challenge::TIME_TYPE, selected: 'days' %>
        <%= f.input :count_type, label: false, collection: Challenge::COUNT_TYPE, selected: 'in a row' %>


    <!-- ADD PROOF -->
    <p>How will you check in?</p>
    <div class='proofs'>
      <a href="#" class='proof checkbox'><i class="fas fa-check-circle"></i>checkbox</a>
      <!-- <a href="#" class='proof photo'><i class="fas fa-camera-retro"></i>photo</a> -->
      <a href="#" class='proof duration'><i class="fas fa-hourglass-half"></i>duration</a>
    </div>

    <!-- PHOTO PROOF -->
    <div class='photo-proof mb-4 pd-checkbox'>
      <label class="form-check-label" for="challenge_photo_proof"><i class="fas fa-camera-retro"></i>Do you want a photo proof?</label>
      <input class="form-check-input boolean optional ml-2 p-0" type="checkbox" value="1" name="challenge[photo_proof]" id="challenge_photo_proof">
    </div>

    <%=  f.input :validation_type, label: false, as: :radio_buttons, collection: Challenge::VALIDATION_TYPE %>

    <div class="wagers">
      <div class='skill-input'>First place will
        <%= f.input :first_place, label: false, placeholder: 'get free lunch' %>
      <div class='underline'></div>
      </div>

      <div class='skill-input'>Last place will
        <%= f.input :last_place, label: false, placeholder: 'buy the winner lunch' %>

        <div class='underline'></div>
      </div>
    </div>


       <!-- START DATE -->
       <%= f.input :starting_date, label: 'When should we start?', as: :string, input_html: {class: "datepicker", value: Date.today.strftime("%e %B %Y") } %>

      <!-- ADD FRIENDS -->

      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add Friends
        </button>
        <div class="dropdown-menu">
          <ul class="friend_list">
          <% @friends.each do |friend| %>
            <li class="dropdown-item" data-friend-id="<%= friend.id %>">
              <%= cl_image_tag friend.photo, alt: "Friend avatar", class: "avatar-small" %>
              <%= friend.first_name %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>

      <!-- Hidden -->
      <%= f.input :users, label: false, as: :check_boxes, collection: @friends, label_method: :first_name, input_html: {class: 'friend-checkbox'} %>

      <!-- SUBMIT -->
      <%= f.submit "Create Challenge", class: "btn btn-primary ml-3", id:"new-challenge-button" %>
    <% end %>
    </div>
</div>
