<div class="container text-center p-0">
  <h1 class='tw'>New Challenge</h1>

  <%= simple_form_for [@challenge], html: { autocomplete: 'off' } do |f| %>
  <div class='new-challenge-card' style="backdrop-filter: blur(6px);">

      <!-- SET SKILL -->
      <div class='skill-input'>
        <%= f.input :skill, label: 'What do you want to work on?', placeholder: 'quit smoking' %>
        <div class='underline'></div>
      </div>

       <!-- Data Picker -->
       <div class="wrapper typo">I want to work on this for<br>

          <div class='milestone-input'>
            <input type="number" id="milestone" placeholder="30" size="3" class="milestone_input", min='0'>
            <div class="underline" style="bottom: 1px;"></div>
          </div>


          <div class="list time_type"><span class="time_type_placeholder">days</span>
            <ul class="time_type_list">
              <div class='blur' style='height: 125px; width: 155px; right: 18px;'></div>
              <li><a href="">hours</a></li>
              <li><a href="">days</a></li>
              <li><a href="">weeks</a></li>
            </ul>
          </div>
          <div class="list count_type"><span class="count_type_placeholder">in a row</span>.
            <ul class="count_type_list">
              <div class='blur' style='height: 75px; width: 135px; right: 34px;'></div>
              <li><a href="">in a row</a></li>
              <li><a href="">total</a></li>
            </ul>
          </div>
        </div>

         <!-- SET GOAL - hidden -->
        <%= f.input :milestone, label: false, input_html: {value: '30'} %>
        <%= f.input :time_type, label: false, collection: Challenge::TIME_TYPE, selected: 'days' %>
        <%= f.input :count_type, label: false, collection: Challenge::COUNT_TYPE, selected: 'in a row' %>


    <!-- ADD PROOF -->
    <p>How will you check in?</p>
    <div class='proofs'>
      <a href="#" class='proof checkbox'><i class="fas fa-check-circle"></i>checkbox</a>
      <!-- <a href="#" class='proof photo'><i class="fas fa-camera-retro"></i>photo</a> -->
      <a href="#" class='proof duration'><i class="fas fa-hourglass-half"></i>duration</a>
    </div>

    <!-- PHOTO PROOF -->
    <div class='photo-proof mb-4'>
      <label class="form-check-label" for="challenge_photo_proof"><i class="fas fa-camera-retro"></i>Do you want a photo proof?</label>
      <!-- <input class="form-check-input boolean optional ml-2 p-0" type="checkbox" value="1" name="challenge[photo_proof]" id="challenge_photo_proof"> -->
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1"></label>
    </div>
    </div>



    <%=  f.input :validation_type, label: false, as: :radio_buttons, collection: Challenge::VALIDATION_TYPE %>

      <!-- Add Friends Button trigger modal -->
      <div class="tooltipp">
        <span class="tooltiptext">Invite Friends</span>
        <button type="button" class="btn-invite-friends" data-toggle="modal" data-target="#exampleModalCenter">
          <i class="fas fa-users"></i>
        </button>
      </div>

    <div class="wagers">
      <div class='skill-input'>First place will
        <%= f.input :first_place, label: false, placeholder: 'get free lunch' %>
      <div class='underline'></div>
      </div>

      <div class='skill-input'>Last place will
        <%= f.input :last_place, label: false, placeholder: 'buy the winner lunch' %>

        <div class='underline'></div>
      </div>
    </div>


       <!-- START DATE -->
       <%= f.input :starting_date, label: 'When should we start?', as: :string, input_html: {class: "datepicker", value: Date.today.strftime("%e %B %Y") } %>

      <!-- ADD FRIENDS -->

</div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Invite friends to join the challenge!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                  <div class="friend-list">
                    <input type="hidden" name="post[friend_ids][]" value="">
                    <div class="friends-choices">
                      <div class='row'>
                      <% @friends.each do |friend| %>
                      <div class='col-6'>
                        <input type="checkbox" class="hidden" value="<%= friend.id %>" name="challenge[users][]" id="challenge_users_<%= friend.id %>">
                        <label for="challenge_users_<%= friend.id %>">
                          <%= cl_image_tag friend.photo, alt: "Friend avatar", class: "avatar-small" %>
                          <p><%= friend.first_name %> <%= friend.last_name %></p>
                          <i class="fas fa-plus-circle"></i>
                        </label>
                      </div>
                      <% end %>
                    </div>
                     </div>
                  </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Hidden -->
      <%= f.input :users, label: false, as: :check_boxes, collection: @friends, label_method: :first_name, input_html: {class: 'friend-checkbox'} %>

      <!-- SUBMIT -->
      <%= f.submit "Create Challenge", class: "btn btn-primary", id:"new-challenge-button" %>
    <% end %>
    </div>

<!-- </div> -->

<%= javascript_pack_tag 'proof_checkboxes' %>
