<h2>Let's schedule!</h2>

<%= @challenge.skill.title %>


<% if @challenge.time_type == 'days' && @challenge.count_type == 'total' %>

  <% counter = 0 %>
  <%= form_with  url: challenge_schedule_path(@challenge), local: true do%>
  <div class="d-flex align-items-center">
    <h2>Sunday:</h2>
  <%= check_box_tag "daysunday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Monday:</h2>
  <%= check_box_tag "daymonday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Tuesday:</h2>
  <%= check_box_tag "daytuesday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Wednesday:</h2>
  <%= check_box_tag "daywednesday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Thursday:</h2>
  <%= check_box_tag "daythursday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Friday:</h2>
  <%= check_box_tag "dayfriday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Saturday:</h2>
  <%= check_box_tag "daysaturday" %>
  </div>
  <h2>Hours per day?</h2>
  <%= text_field_tag :hours %>

  <%= submit_tag %>
  <% end %>
<% elsif @challenge.time_type == 'weeks' && @challenge.count_type == 'total'%>
  <% counter = 0 %>
  <%= form_with  url: challenge_schedule_path(@challenge), local: true do%>
  <div class="d-flex align-items-center">
    <h2>Sunday:</h2>
  <%= check_box_tag "daysunday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Monday:</h2>
  <%= check_box_tag "daymonday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Tuesday:</h2>
  <%= check_box_tag "daytuesday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Wednesday:</h2>
  <%= check_box_tag "daywednesday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Thursday:</h2>
  <%= check_box_tag "daythursday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Friday:</h2>
  <%= check_box_tag "dayfriday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Saturday:</h2>
  <%= check_box_tag "daysaturday" %>
  </div>
  <h2>Hours per day?</h2>
  <%= text_field_tag :hours %>

  <%= submit_tag %>
  <% end %>

<% elsif @challenge.time_type == 'weeks' && @challenge.count_type == 'in a row'%>
  <% counter = 0 %>
  <%= form_with  url: challenge_schedule_path(@challenge), local: true do%>
  <div class="d-flex align-items-center">
    <h2>Sunday:</h2>
  <%= check_box_tag "daysunday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Monday:</h2>
  <%= check_box_tag "daymonday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Tuesday:</h2>
  <%= check_box_tag "daytuesday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Wednesday:</h2>
  <%= check_box_tag "daywednesday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Thursday:</h2>
  <%= check_box_tag "daythursday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Friday:</h2>
  <%= check_box_tag "dayfriday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Saturday:</h2>
  <%= check_box_tag "daysaturday" %>
  </div>
  <h2>Hours per day?</h2>
  <%= text_field_tag :hours %>

  <%= submit_tag %>
<% end %>



<% elsif @challenge.time_type == 'hours' && @challenge.count_type == 'total'%>

  <% counter = 0 %>
  <%= form_with  url: challenge_schedule_path(@challenge), local: true do%>
  <div class="d-flex align-items-center">
    <h2>Sunday:</h2>
  <%= check_box_tag "daysunday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Monday:</h2>
  <%= check_box_tag "daymonday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Tuesday:</h2>
  <%= check_box_tag "daytuesday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Wednesday:</h2>
  <%= check_box_tag "daywednesday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Thursday:</h2>
  <%= check_box_tag "daythursday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Friday:</h2>
  <%= check_box_tag "dayfriday" %>
  </div>
  <div class="d-flex align-items-center">
    <h2>Saturday:</h2>
  <%= check_box_tag "daysaturday" %>
  </div>
  <h2>Hours per day?</h2>
  <%= text_field_tag :hours %>

  <%= submit_tag %>
<% end %>


<% end %>

