<h1 class="text-center"><%= @challenge.skill.title %></h1>
<%#= link_to "Check in", new_challenge_check_in_path(@challenge), class: 'btn btn-secondary' %>
<div class="d-flex justify-content-between align-items-center">
<div class="container">
  <div class="grid">
<div class="row d-flex justify-content-between">

  <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#exampleModal">
    Check in
  </button>

  <% unless @users_challenge.scheduled %>
    <%= link_to "Let's Schedule!", challenge_schedule_path(@challenge), class: "btn btn-primary mr-3"  %>
  <% end %>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel">Check In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'check_in', challenge: @challenge, check_in: CheckIn.new %>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="row mt-2">
      <div class="col-4">
        <div class="challenge-page-card">
          <% counter = 1 %>
          <h2> Challenge Leaderboard</h2>
          <div class="mt-2">
            <% @challenge.users.order(user_progress: :desc).each do |user| %>
              <div class="mb-1">
                <div class="d-flex align-items-center">
                  <h6 class="mr-3"><%= counter%></h6><%= cl_image_tag user.photo, class: 'avatar-small mr-2', alt: "avatar" %>
                  <p class="mt-0"><%= user.username %></p>
                </div>
              </div>
              <% counter +=1 %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="challenge-page-card">
            <h2> Challenge Group Stats</h2>
            <% @challenge.users.order(user_progress: :desc).each do |user| %>
            <% @progress = ((UsersChallenge.find_by(challenge_id: @challenge.id, user_id: user.id).user_progress/@challenge.milestone)*100).round %>
            <div class="row d-flex align-items-center">
              <div class="col-4">
            <p class='mt-0'><strong>@<%= user.username %> </strong>: <%= @challenge.users_challenges.find_by(user: user).user_progress.round %> <%= @challenge.time_type %></p>

              </div>
              <div class="col-8">
            <progress class="skill-1 mb-0 mt-2" max="100" value="<%= @progress %>">
              <strong>Progress <%= @progress %>%</strong>

              </div>
            </progress>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-4">
          <div class="challenge-page-card">
            <h2> The Stakes</h2>
              <p><strong>First place:</strong> <%= @challenge.first_place %></p>
              <p><strong>Last place:</strong> <%= @challenge.last_place %></p>
          </div>
        </div>
        <div class="col-8">
          <div class="challenge-page-card d-flex justify-content-between">
            <div>
              <h2> Challenge Personal Stats</h2>
              <p><strong>Your progress:</strong> <%= @challenge.users_challenges.find_by(user: current_user).user_progress.round %> <%= @challenge.time_type %></p>
              <p><strong>Current Streak:</strong> <%= @streak %> days</p>
            </div>
            <div class="set-size charts-container">
              <div class="pie-wrapper">
                <span class="label"><%= ((@users_challenge.user_progress/@challenge.milestone)*100).round %> <span class="smaller">%</span></span>
                <div class="pie">
                  <div class="left-side half-circle"></div>
                  <div class="right-side half-circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="challenge-page-card" id="graph-challenge-card">
            <script src="https://d3js.org/d3.v4.js"></script>
            <div class="d-flex justify-content-around mouse-hover">
            <h4 id="week_button" class="border-bottom" <% @weekly_user_check_ins.each do |user, value| %>
            data-week-<%= user.first_name %>="<%= value.count %>"
            <% end %>>Week</h4>
            <h4 id="month_button" class="border-bottom mouse-hover" <% @monthly_user_check_ins.each do |user, value| %>
            data-month-<%= user.first_name %>="<%= value.count %>"
            <% end %>>Month</h4>
            <h4 id="year_button" class="border-bottom mouse-hover" <% @yearly_user_check_ins.each do |user, value| %>
            data-year-<%= user.first_name %>="<%= value.count %>"
            <% end %>>Year</h4>
            </div>
            <h2 class="text-center mt-2">Number of check ins</h2>
            <div id="week_month_year"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="challenge-page-card border-bottom">
          <h2 class="mb-2">Recent Check-ins:</h2>
          <% @challenge.check_ins.last(3).each do |check_in|%>
            <div class="d-flex justify-content-between mb-2" >
              <div>
              <h5><%= "#{check_in.users_challenge.user.first_name} #{check_in.users_challenge.user.last_name}" %></h5>
              <h6><%= check_in.date.strftime('%e %B %Y') %></h6>
                <% if check_in.duration %>
                  <p><%= check_in.duration %> hours</p>
                <% end %>
              </div>
              <%= cl_image_tag check_in.photo, style:"height: 100px"%>
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col chat-board">
          <div class="chat-header text-center" style="width: 100%"><h4>Trash Talk Board</h4></div>
          <div class="messages" style="height: 200px">
            <% @chat_room.messages.each do |message| %>
            <%= render 'message', message: message, user_is_messages_author: message.user == current_user %>
            <% end %>
          </div>
          <div id="create-message">
            <%= simple_form_for [@chat_room, Message.new], remote: true do |f| %>
            <%= f.input :content, label: false, id: "message-content" %>
            <%= f.submit value: 'Send Message', class:'btn btn-outline-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
    App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> },
      { received: (data) => {
        if (data.current_user_id !== <%= current_user.id %>){
          const messagesContainer = document.querySelector(".messages");
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          scrollLastMessageIntoView();
        }
      }
    })
  </script>
  <% end %>
