<div class="container">
  <div class="grid">

    <div class='friends-search'>
      <%= form_tag account_path(current_user), method: :get, html: { autocomplete: "off" } do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Enter Username" %>
      <% end %>
    </div>

    <div class="row mt-2">
      <div class="col">
        <div class="challenge-page-card">
          <h2>Pending Requests</h2>
          <% @user.pending_friends.each do |friend| %>
          <ul>
            <li><%= friend.username %> - Pending</li>
          </ul>
          <% end %>
        </div>
      </div>
      <div class="col">
        <div class="challenge-page-card">
          <h2>Friend Requests</h2>
          <% @user.requested_friends.each do |friend| %>
          <ul>
            <%= friend.username %> <%= link_to "Accept Friend Request", accept_friend_account_path(friend), method: :post %>
          </ul>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="challenge-page-card">
          <h2>Friends</h2>
          <% @user.friends.each do |friend| %>
          <ul class="mt-2 pl-0">
            <li>
              <img class="avatar-small mr-2" src="https://kitt.lewagon.com/placeholder/users/dfwheeler394" alt="avatar">
              <span class="mr-5"><%= friend.username %></span>
              <% if @user == current_user %>
                <%= link_to "Unfriend",  delete_friend_account_path(friend), method: :delete, class: "btn btn-primary btn-sm ml-5" %></li>
              <% elsif !friend.friends_with?(current_user) %>
                <%= link_to "Add Friend", request_friend_account_path(friend), method: :post, class: "btn btn-primary" %>
              <% end %>
              <% end %>
            </ul>
        </div>
      </div>
    </div>

  </div>
</div>
