<div class="container">
  <div class="grid">

    <div class='friends-search'>
      <%= form_tag account_path(current_user), method: :get, html: { autocomplete: "off" } do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Enter Username" %>
      <% end %>
    </div>
    <div class="row">

      <div class="col-6">
        <div class="challenge-page-card">
          <h2 class='mb-2'>Pending Requests</h2>
          <% @user.pending_friends.each do |friend| %>
          <div class="notification-card">
            <div class="d-flex align-items-center">
              <%= cl_image_tag friend.photo, alt: "user avatar", class: 'avatar-small mr-2' %>
              <%= "#{friend.first_name.capitalize} #{friend.last_name.capitalize}"  %>
            </div>
          </div>
          <% end %>
        </div>
        <div class="challenge-page-card">
          <h2 class="mb-2">Friend Requests</h2>
          <% @user.requested_friends.each do |friend| %>
          <div class="notification-card">
            <div class="d-flex align-items-center">
              <%= cl_image_tag friend.photo, alt: "user avatar", class: 'avatar-small mr-2' %>
              <%= "#{friend.first_name.capitalize} #{friend.last_name.capitalize}"  %>
            </div>
            <%= link_to "Accept", accept_friend_account_path(friend), method: :post, class: "friend-request-button" %>
          </div>
          <% end %>
        </div>
      </div>

      <div class="col-6">
        <div class="challenge-page-card">

          <h2>Friends</h2>
            <ul class="mt-2 pl-0">

          <% @user.friends.each do |friend| %>
              <li class='d-flex justify-content-between mb-2'>
                <div class="d-flex align-items-center">
                <%= link_to account_path(friend) do%>

                <%= cl_image_tag friend.photo, alt: "user avatar", class: "avatar-large mr-3" %>

                <span class="mr-5" style="color: black;"><%= friend.username %></span>
                <% end %>
                </div>
                <% if @user == current_user %>
                <i class="fas fa-user-minus mouse-hover mt-3 mr-2" style="font-size: 16px; color: rgb(237, 70, 45);" id="remove-friend-btn" data-friendId="<%= friend.id %>"></i>
                  <%= link_to "Unfriend",  delete_friend_account_path(friend), method: :delete, id: "remove-friend-#{friend.id}", class: "btn btn-primary btn-sm ml-5",  data: { friendId: friend.id }, style: "position: absolute; top: -1000px;"%>
                <% elsif !friend.friends_with?(current_user) %>
                  <%= link_to "Add Friend", request_friend_account_path(friend), method: :post, class: "btn btn-primary" %>
                <% end %>
              </li>
          <% end %>
            </ul>
        </div>
      </div>
    </div>
    </div>

</div>
