<div class="container">

  <!-- MAIN HEADER -->
  <h2 class="text-center mb-4 mr-2"><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %></h2>

  <div class="text-right">
    <% unless @user == current_user && !current_user.friends_with?(@user)%>
      <%= link_to "Add Friend", request_friend_account_path(@user), method: :post, class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-6">
      <!-- USER INFO -->
      <div class="challenge-page-card">
      <!-- <div class="user-info"> -->
        <%= cl_image_tag current_user.photo, alt: "user avatar", class: "avatar-huge" %>
        <p><strong>Username: </strong><%= current_user.username %></p>
        <p><strong>Email: </strong><%= current_user.email %></p>
      </div>
    </div>

    <div class="col-6">
      <!-- FRIENDS -->
      <div class="challenge-page-card">
        <h2>Friends</h2>
        <div class="mt-2 d-flex">
            <% @user.friends.each do |friend| %>
              <%= cl_image_tag friend.photo, alt: "user avatar", class: "avatar-small mr-2" %>
            <p><%= friend.username %></p>
            <% if @user == current_user %>
              <%= link_to "Unfriend",  delete_friend_account_path(friend), method: :delete, class: "btn btn-primary btn-sm ml-auto" %>
            <% elsif !friend.friends_with?(current_user) %>
              <%= link_to "Add Friend", request_friend_account_path(friend), method: :post, class: "btn btn-primary btn-sm ml-auto" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <!-- CURRENT CHALLENGES -->
      <div class="challenge-page-card">
        <h2>Current Challenges</h2>
        <% @user.challenges.each do |challenge| %>
         <p><%= link_to challenge.skill.title.capitalize, challenge_path(challenge) %></p>
        <% end %>
      </div>
    </div>

    <div class="col-6">
      <!-- ACHIEVEMENTS -->
      <div class="challenge-page-card">
        <h2>Achievements</h2>
      </div>
    </div>
  </div>

  </div>
</div>

