<div class="container">

  <!-- MAIN HEADER -->
  <h2 class="text-center mb-4 mr-2"><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %></h2>

  <div class="text-right">
    <% unless @user == current_user && !current_user.friends_with?(@user)%>
      <%= link_to "Add Friend", request_friend_account_path(@user), method: :post, class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-6">
      <!-- USER INFO -->
      <div class="challenge-page-card">
      <!-- <div class="user-info"> -->
        <%= cl_image_tag @user.photo, alt: "user avatar", class: "avatar-huge" %>
        <p><strong>Username: </strong><%= current_user.username %></p>
        <p><strong>Email: </strong><%= current_user.email %></p>
      </div>
    </div>

    <div class="col-6">
      <!-- FRIENDS -->
      <div class="challenge-page-card">
        <h2>Friends</h2>
        <ul>
          <% @user.friends.each do |friend| %>
          <li class='mb-2'>
            <div class="d-flex justify-content-between">
                <%= cl_image_tag friend.photo, alt: "user avatar", class: "avatar-small mr-2" %>
                <p><%= friend.username %></p>
              <% if @user == current_user %>
                <button class="btn btn-primary btn-sm ml-5" id="remove-friend-btn" data-friendId="<%= friend.id %>">Remove Friend</button>
                  <%= link_to "Unfriend",  delete_friend_account_path(friend), method: :delete, id: "remove-friend-#{friend.id}", class: "btn btn-primary btn-sm ml-5",  data: { friendId: friend.id }, style: "position: absolute; top: -1000px;" %>
                <% elsif !friend.friends_with?(current_user) %>
                  <%= link_to "Add Friend", request_friend_account_path(friend), method: :post, class: "btn btn-primary" %>
                <% end %>
            </div>
          </li>
        <% end %>
        </ul>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-6">
      <!-- CURRENT CHALLENGES -->
      <div class="challenge-page-card">
        <h2 class="mb-2">Current Challenges</h2>
        <% @user.challenges.each do |challenge| %>
         <h4><%= link_to challenge.skill.title, challenge_path(challenge) %></h4>
        <% end %>

      </div>
    </div>

    <div class="col-6">
      <!-- ACHIEVEMENTS -->
      <div class="challenge-page-card">
        <h2>Achievements</h2>
      </div>
    </div>
  </div>

  </div>
</div>

